body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

* {
    box-sizing: border-box;
}

@media only screen and (min-width: 320px) {
    .containerNav{
        display: flex;
        justify-content:space-around;
        align-items: center;
        border-style:  solid;
        margin: 2rem;
        font-size: 1rem;
        background: white;
        -webkit-box-shadow: 5px 5px 5px 0px #fff7f7, inset 4px 4px 15px 0px #fffafa, -50px -50px 0px -30px rgb(245, 235, 235); 
       box-shadow: 5px 5px 5px 0px #fffbfb, inset 4px 4px 15px 0px #fffefe, -50px -50px 0px -30px rgba(255, 255, 255, 0.801);
       border-radius: 5%;
    }

    #buttonNav{
        border-style: solid rgb(235, 228, 228);
        border-radius: 5%;
        margin: .5rem;
        color: rgb(26, 25, 25);
        font-size: 1.2rem;
        font-family: 'Teko', sans-serif;
    }
    .containerImg{
        display: flex;
        justify-content: center;
    }

    .containerImg img{
        width: 100%;
        border-radius: 50%;
    }
    .containerName{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Teko', sans-serif;
        font-size: 2rem;
        margin: 2rem;
        color: white;
    }
    .corchete{
        font-size: 2rem;
    }
    h3{
        display: flex;
        justify-content: center;
        color: white;
        font-family: 'Teko', sans-serif;
        font-size: 1.5rem;
    }
    .about{
        display: flex;
        justify-content: center;
        text-align: justify;
        font-family: 'Open Sans', sans-serif;
        color: white;
        margin: 1rem;
    }
}

       /*##################################*/

@media only screen and (min-width: 568px) {
    .containerNav{
        display: flex;
        justify-content:space-around;
        align-items: center;
        border-style:  solid;
        margin: 2rem;
        background: white;
        -webkit-box-shadow: 5px 5px 5px 0px #fff7f7, inset 4px 4px 15px 0px #fffafa, -50px -50px 0px -30px rgb(245, 235, 235); 
       box-shadow: 5px 5px 5px 0px #fffbfb, inset 4px 4px 15px 0px #fffefe, -50px -50px 0px -30px rgba(255, 255, 255, 0.801);
       border-radius: 5%;
    }

    #buttonNav{
        border-style: solid rgb(235, 228, 228);
        border-radius: 5%;
        margin: .5rem;
        color: rgb(26, 25, 25);
        font-size: 1.5rem;
        font-family: 'Teko', sans-serif;
    }
    .containerImg{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containerImg img{
        width: 100%;
        border-radius: 50%;
    }
    
    .containerName{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Teko', sans-serif;
        font-size: 3rem;
        margin: 1rem;
        color: white;
    }

    .corchete{
        font-size: 3rem;
    }

    h3{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 2rem;
        font-family: 'Teko', sans-serif;
    }

    .about{
        display: flex;
        justify-content: center;
        text-align: justify;
        font-family: 'Open Sans', sans-serif;
        color: white;
        margin: 2rem;
    }

}

       /*##################################*/

@media only screen and (min-width: 768px) {}

       /*##################################*/

@media only screen and (min-width: 1024px) {}